<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title>
      <ion-icon name="paper"></ion-icon> Do It 
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        {{todo.title}}
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only color="light" (click)="updateTodo(todo)">
          <ion-icon name="refresh"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="deleteTodo(todo)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
  <ion-fab right bottom>
    <button ion-fab (click)="createTodo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>